@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    height: 100vh;
    font-family: 'Lobster', cursive;
    background-color: #181D31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

}

.watch__box {

}

.watch_list {
    width: 400px;
    height: 350px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D8D9CF;
    font-size: 24px;
}

.watch_box-item {

}

.watch-item {
    margin-bottom: 20px;
}

