@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    height: 100vh;
    font-family: 'Lobster', cursive;
    background-color: #181D31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-box  {
    color : #FFF8EA;
}